/* FOOTER MAIN
  ----------------------------- */

  .footer--main {
    color: white;
    background-color: $c--primary;

    @media (max-width: 650px) {
      text-align: center;
    }

    .footer__info {
        font-weight: bold;
        font-size: $font--80;
    }

    .contain-image {
      width: 192px;
    }

    .footer__social-list {
      padding-top: 3rem;
      @media (max-width: 650px) {
        text-align: center;
      }
    }
  }


  .block__item {

    a {
        color: white;
    }
  }
