/* FORM
  ----------------------------- */
body {
 
}
.section--contact{

  .section__contact-form {

    .title {
      font-size: $font--220;
      color: $c--primary;
    }
    .wpcf7{
      text-align: center;
      
      .wpcf7-response-output {
        border-color: none;
      }
      form.wpcf7-form{

        input.wpcf7-submit {
          border: none;
          font-weight: bold;
          font-size: $font--80;
          color: white;
          background: $c--primary;
          padding: 1rem 2rem 1rem 2rem;
          &:disabled {
            background-color:lighten($c--primary, 5);
          }
        }
        input {
          padding: .5rem 1rem .5rem 1rem;
          &::placeholder {
            color: $c--black;
          }
        }
        textarea {
          resize: none;
          padding: 1rem 1rem 1rem 1rem;
          &::placeholder {
            font-family: Arial, Helvetica, sans-serif;
            color: $c--black;
          }
        }
        
      }
    }
    .section__contact-item {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
      
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border: 0px;
  color: $c--primary;
}