/* FORM
  ----------------------------- */


.section--contact{

  .section__contact-form {

    .title {
      font-size: $font--220;
      color: $c--primary;
    }
    .wpcf7{
      @extend .max-width-2;
      @extend .mx-auto;
      .wpcf7-list-item {
        margin: 0;
      }
     
      
      .wpcf7-text, 
      .wpcf7-textarea {
        width: 100%;
      }
      .wpcf7-response-output {
        border-color: none;
      }
      .form__submit {
        text-align: center;
      }
      form.wpcf7-form{
        
        input.wpcf7-submit {
          @include submit-button();
          
        }
        input {
          @include input-form();
        }
        textarea {
          resize: none;
          padding: 1rem 1rem 1rem 1rem;
          &::placeholder {
            font-family: Arial, Helvetica, sans-serif;
            color: $c--black;
          }
        }
        
      }
    }
    .section__contact-item {
      margin-top: 1rem;
      text-align: center;
    }
  }
}
      
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
  border: 0px;
  color: $c--primary;
}
