/* HERO
  ----------------------------- */
@import 'preview/highlights';
.homepage--hero {
  margin-top: 10rem;
  max-width: 45rem;

  
}

.section__event {

  .section__background {
    margin-left: auto;
    margin-right: auto;
    max-width: 80rem;
    div {
      background: $c--lightgray;      
    }
    
    
   
  }
  
  position: relative;

    background-color: $c--lightgray;
    h1 {
      color: $c--primary;
    }
  
}
.section--hero {
  &.section--home-hero {
     .contain-image {
       max-height: 245px  !important;
       
       
       @media screen and (max-width: 640px) {
        max-height: 533px !important;
        left: -50%;
        margin-top: -4rem;
        position: absolute;

      }

      @media screen and (max-width: 400px) {
        max-height: 404px !important;
        padding-top: -2.2rem;
        left: 0%;
        transform: translatey(22%);
        margin-top: -5rem;
        opacity: .3;
        position: absolute;
      }
     }

     
  }
  &.section--ted-circle {
    background-color: $c--primary;
  }

  .section__container {

    img {
      max-height: calc((100vh - 180px)/2);  
    }
  }
}

.section__line {
  overflow: hidden;
  background-image: url('/assets/line.png');
  .line {
    transform: translateX(-10%);
    margin-bottom: 5rem;
  }
}