/* HERO
  ----------------------------- */
  
.section--hero {
  .section__header,
  .section__image-wrapper {
    height: calc((100vh - 56px) / 2);
  }

  .section__header {
    background: $c--black;
    color: #FFF;
    max-height: 28rem;
  }


  .section__title {
    font-size: $font--220;
    letter-spacing: .1rem;
  }

  .section__abstract {
    font-size: $font--120;
    font-weight: 200;
    
    strong {
      color: $c--primary;
    }
  }
  
  .section__cta {
    appearance: none;
    background: transparent;
    color: #FFF;
    font-size: $font--120;
    text-decoration: underline;
  }

  .section__background-image {
    max-width: 90rem;
    top: 20%;
  }
}