/* NEWSLETTER
  ----------------------------- */

.section--newsletter {

  .section__newsletter-title {

    h1 {
      font-size: $font--220;
      color: $c--primary;
    }
  }

  .section__newsletter-submit {

    button{
      @include submit-button();
      transition: .2s;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }

  .section__newsletter-placeholder {

    input {
      @include input-form();  
      
    }
  }
}
