/* PROMOTED EVENTS
  ----------------------------- */

.section--promoted-events {
  padding-top: 90px;
  
  .section__event-image {
    height: calc((100vh/2.8));
  }

  .section__event-container {
    display: flex;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 10px;
   
  }
  
  .section__section-title {
    color: $c--primary;
    font-size: $font--220;
  }

  .section__abstract {
    padding-left: 15%;
    padding-right: 15%;
    font-style: italic;
    font-size: $font--120;
  }

  .section__title {
    font-size: $font--150;
  }

  .section__event-wrapper {
    margin: 10px;
  }
}