/* TEAM
  ----------------------------- */

.section--team {

  .max-width-5 {
    max-width: 85rem;
  }

  .block--person{
    h1, h2 {
      font-size: $font--120;
      color: $c--black;
      font-weight: bold;
    }
    h2 {
      font-weight: lighter;
    }
  }
}
