/* TEAM
  ----------------------------- */

.section--team {

  .max-width-5 {
    max-width: 85rem;
  }

  .block--person{
    .image {
      &__container {
        position: relative
      }

      &__serious {
        top: 0;
        left: 0;
        position: relative;        
      }

      &__funny {
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0;
        transition: .2s ease-in;
        &:hover {
          opacity: 1;
        }
      }

      &__cover {
        position: relative;
      }

      &__information {
      
        position: relative;
        h1, h2 {       
          font-size: $font--120;
          color: $c--black;
          font-weight: bold;
        }
        h2 {
          font-weight: lighter;
        }
      }
      
    }

    
    
  }
}
