.event-carousel  {
    display: flex;
    width: 100vw;
    align-items: center;
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
    .carousel-item {
        
        p {
            font-size: $font--120;
            font-style: italic;
            padding-right: 15%;
            padding-left: 15%;
        }

        h1 {
            font-size: $font--150;
        }
    }

}

.slick-slide {
    outline: none;
    img {
        display: unset;
        width: 370px;
        height: auto;
    }
}