.preview--highlight {
    letter-spacing: 1rem;
    .preview-background-color {
        background-color: $c--primary;
        //height: calc((100vh -120px )/ 2);
        position: relative;
    }
    .preview__wrap-text,
    .preview__wrap-text.pr4 {
       
        .preview__title{
            font-size: $font--150;
            div {
                strong {
                    background-color: $c--primary;
                    color: white;
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
            }
        }
        .preview__subtitle {
            font-weight: bold;
            font-size: $font--120;
            color: white;
            .subtitle__background {
                color: $c--primary;
            }
        }
        @media screen and (max-width: 640px){
            margin-top: 2rem;
            margin-left: 11rem;
            font-size: 15px;
            margin-bottom: 15rem;

            .preview__title {
                letter-spacing: .6rem;
                font-size: $font--140;
            }
        }
        @media screen and (max-width: 400px){
            margin-top: 2rem;
            margin-left: 3rem;
            font-size: 15px;
            margin-bottom: 15rem;

            .preview__title {
                letter-spacing: .6rem;
                font-size: $font--150;
            }
        }
       
    }
    .preview__background {
       max-height: 100%;
       position: absolute;
       right: 0;
       top:0;
    }
}

.section__highlight {
    .preview__event-description {
      p {
        margin: 0;
        font-size: 18px;
        line-height: 1.5rem;
        font-weight: lighter;
       }
      column-count: 1;

      @media screen and(max-width: 400px) {
        column-count: 1;
      }
    }
  }


@media screen and (max-width: 680px) {
    .preview--highlight {
        .preview__wrap-text,
        .preview__wrap-text.pr4 {
            padding-right: 3rem;
            
        }
        .preview__background {
           max-height: 100%;
           position: absolute;
           right: 0;
           top:0;
           display: none;
        }
    }
  }